# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'Build .Net Solution'

- task: DotNetCoreCLI@2
  displayName: 'Run Unit tests'
  inputs:
    command: test
    projects: 'tests/**/*.csproj'
    arguments: '--configuration $(BuildConfiguration)'

- task: Npm@1
  displayName: 'Restore Angular Dependencies'
  inputs:
    workingDir: $(Build.Repository.LocalPath)/WebUI/clientApp
    verbose: false
- task: Npm@1
  displayName: 'Build Angular'
  inputs:
    command: custom
    workingDir: $(Build.Repository.LocalPath)/WebUI/clientApp
    verbose: false
    customCommand: 'run build'